<!DOCTYPE html>
<html>
  <head>
    <title>voting-platform</title>
    <link rel="stylesheet" href="/stylesheets/message.css" />
  </head>
  <body>
    <a href="/" class="top-button">Home</a>
    <h1><%= title %></h1>
    <h2><%= message %></h2>
  </body>
</html>
